html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  position: relative;
  background-image: url("../images/GOTbackground3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: 'Cinzel Decorative', cursive;

}

.header {
  background-color: #272e36;
  padding: 3% 0 3% 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 2%;
}

h1{
  font-size: 45px;
  margin-bottom: 2%;
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
}

h2{
  font-size: 25px;
  text-shadow: 3px 3px 5px black;
  font-weight: bold;

}

#wins,
#losses,
#userScore{
  font-size: 20px;
  color: #db8b5a;
  margin-top: 3px;
}

.scoreArea {
  background-color: #272e36;
  width: 25%;
  margin-left: 5%;
  border-radius: 10px;
  padding: 2%;
}

.defenderArea {

}

.userCharacterArea{
  clear:both;
  margin-bottom: 5%;

}

.gameCharacters {
  margin: 1%;
  width: 25%;
  max-width: 250px;
  min-width: 150px;
  height: auto;
  transition: 0.3s;
  border-radius: 50%;
}

.gameCharacters:hover {
  border: 0px solid #272e36;
}

.buttonArea {
  margin-bottom: 5%;
}

.gameButtons {
  width:20%;
  padding: 20px 0px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.5s;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 900;
}

.gameButtons:hover {
  background-color: #272e36;
  color: white;
  border: none;

}

.graveyardArea {
  margin-bottom: 5%;
}

footer {
font-family: monospace;
font-size: 14px;
width: 100%;
position: absolute;
bottom: 0;
left: 0;
background-color: #272e36;
color: white;
padding: 3% 0 3% 0;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}
